/**
 * BibleForge
 *
 * @date    05-15-12
 * @version alpha (α)
 * @link    http://BibleForge.com
 * @license The MIT License (MIT)
 */

"use strict";

this.config = {
    db: {
        host: "127.0.0.1",
        user: "user",
        pass: "password",
        base: "bf"
    },
    static_path: "../dev/client/",
    server_path: "../dev/server/",
    http_server: "http://127.0.0.1:7071/",
};
